{% extends "base.html" %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Accueil</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/inscription/">Inscription</a>
</li>
{% endblock %}

{% block content %}
{% if config.beta_test %}
<div class="alert alert-danger" role="alert">
  Ce site est pour l'instant en test. <strong>Toutes les inscriptions seront effacées avant la mise en service.</strong> Si vous êtes arrivés ici par hasard, regardez <a class="alert-link" href="https://aristide-briand.paysdelaloire.e-lyco.fr/">ici</a> pour des informations sur les portes ouvertes.
</div>
{% endif %}
<p>Afin de réguler l'affluence et garantir la sécurité de tous, la participation aux portes ouvertes du lycée Aristide Briand se fait uniquement sur inscription. Une seule inscription est demandée par famille.</p>
<div class="alert alert-warning" role="alert">
  Toujours dans un souci de limiter les affluences, il est demandé qu'il n'y ait qu'un seul accompagnateur (un adulte référent) par élève.
</div>
<div class="alert alert-warning" role="alert">
  Le port du masque est obligatoire sur tout le site.
</div>
{% if config.rgpd %}
<div class="alert alert-warning" role="alert">
  Les données récoltées sont utilisées uniquement dans le cadre des portes ouvertes du lycée Aristide Briand (association des personnes aux créneaux horaires, rappel par email de l'inscription et des éventuelles modifications liées aux portes ouvertes). Elles seront toutes effacées après cet évènement. 
</div>
{% endif %}
<form method="POST" id="form">
  {{ csrf_input }}
  <div class="form-floating mb-3">
    <input type="text" name="firstname" class="form-control {% if errors is defined and errors.message_dict['firstname'] is defined %}is-invalid{% endif %}" id="firstname" placeholder="Robert" value="{{ request.POST['firstname']|default() }}" required>
    <label for="firstname">Prénom de l'élève</label>
    <div id="validationfirstname" class="invalid-feedback">{% if errors is defined and errors.message_dict["firstname"] is defined %} {{ errors.message_dict["firstname"][0] }} {% endif %}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="lastname" class="form-control {% if errors is defined and errors.message_dict['lastname'] is defined %}is-invalid{% endif %}" id="lastname" placeholder="Durand" value="{{ request.POST['lastname']|default() }}" required>
    <label for="lastname">Nom de l'élève</label>
    <div id="validationlastname" class="invalid-feedback">{% if errors is defined and errors.message_dict["lastname"] is defined %} {{ errors.message_dict["lastname"][0] }} {% endif %}</div>
  </div>
  {% if config.school %}
  <div class="form-floating mb-3">
    <select name="school" class="form-control" id="school" value="{{ request.POST['school']|default() }}" required>
      <option selected></option>
      {% for schoolgroup in schools %}
      <optgroup label="{{schoolgroup[0]}}">
        {% for school in schoolgroup[1] %}
        <option value="{{school[0]}}">{{school[1]}}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
    <label for="school">Etablissement d'origine</label>
  </div>
  {% endif %}
  <div class="form-floating mb-3">
    <input type="email" name="email" class="form-control {% if errors is defined and errors.message_dict['email'] is defined %}is-invalid{% endif %}" id="email" placeholder="robert@exemple.fr" value="{{ request.POST['email']|default() }}" required>
    <label for="email">Adresse email</label>
    <div id="validationemail" class="invalid-feedback">{% if errors is defined and errors.message_dict["email"] is defined %} {{ errors.message_dict["email"][0] }} {% endif %}</div>
  </div>
  {% if config.max_escort %}
  <div class="form-floating mb-3">
    <input type="number" name="escort" class="form-control {% if errors is defined and errors.message_dict['escort'] is defined %}is-invalid{% endif %}" id="escort" value="{{ request.POST['escort']|default(0) }}" min="0" max="{{ config['max_escort'] }}" required>
    <label for="escort">Nombre d'accompagnateurs</label>
    <div id="validationescort" class="invalid-feedback">{% if errors is defined and errors.message_dict["escort"] is defined %} {{ errors.message_dict["escort"][0] }} {% endif %}</div>
  </div>
  {% endif %}
  <p>Le planning ci-dessous vous permet, pour chaque filière ou formation, de choisir le créneau horaire le plus favorable en fontion de vos disponibilités. Si vous voulez visiter plusieurs lieux, vous pouvez sélectionner jusqu'à {{ config.max_slot }} créneaux à des heures et des lieux différents.
    {% if config.show_people %} Dans chaque case, la première valeur indique le nombre de {% if not config.max_escort %}familles (un élève et un adulte référent){% else %}personnes{% endif %}{% endif %} déjà inscrites. La deuxième valeur indique la jauge maximale.
    Si la case est verte, il reste encore des places. Si la case est grise, le créneau est complet.</p>
  {% include "scheduling_booking.html" %}
  {% if config.recaptcha %}
  <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
  {% endif %}
  {% if errors is defined and errors.message_dict["scheduling"] is defined %}
  <div class="alert alert-danger" id="schedulingerror" role="alert">
    {{ errors.message_dict["scheduling"] }}
  </div>
  {% endif %}
  <div class="alert alert-danger" id="schedulingerror2" role="alert" hidden></div>
  <button type="submit" class="btn btn-primary">Valider</button>
  <button type="button" class="btn btn-warning" id="reset_schedule" onclick="resetschedule()">Reset</button>
</form>
<script src="https://www.google.com/recaptcha/api.js?render={{ config.recaptcha_public }}"></script>
<script>
  function resetschedule() {
    const slots = document.querySelectorAll(".reset");
    slots.forEach(slot => {slot.click()});
  };
  function clickhour(place_id, hour_id) {
    const slots = document.querySelectorAll(".place_" + place_id);
    slots.forEach(slot => {
      if (!slot.classList.contains("hour_"+hour_id)){
        if (slot.checked == true) {
          slot.checked = false;
          cl = slot.className;
          console.log(cl);
          indexOfFirst = cl.indexOf('hour_');
          console.log(indexOfFirst);
          if (cl.indexOf(' ', indexOfFirst) > 0)
            hour_id_false = cl.substring(indexOfFirst+5, cl.indexOf(' ', indexOfFirst));
          else
            hour_id_false = cl.substring(indexOfFirst+5);
          console.log(hour_id_false);
          document.querySelector(".reset_" + hour_id_false).checked = true;
        }
      };
    });
  };
</script>
<script>
  var form = document.getElementById("form");
  form.addEventListener("submit", submit, true);
  function submit(e) {
    e.preventDefault();
    {% if config.recaptcha %}
    grecaptcha.ready(function() {
      grecaptcha.execute("{{ config.recaptcha_public }}", {action: 'submit'}).then(function(token) {
        document.getElementById("g-recaptcha-response").setAttribute("value", token);
        if (control(e)) form.submit();
      });
    });
    {% else %}
    if (control(e)) form.submit();
    {% endif %}
  }
  function control(e) {
    var num = 0;
    const slots = document.querySelectorAll(".control");
    var authorized = true;
    slots.forEach(slot => {
      if (slot.checked){
        num+=1;
        {% if config.school %}
        const slot_value = slot.value;
        const schedule = slot_value.substring(slot_value.indexOf("-")+1);
        const input = document.getElementById("btn-check-" + schedule);
        const authorizeds = input.getAttribute("data-authorizeds").split(" ");
        const school_choice = document.getElementById("school").value.substring(0,2);
        if (!authorizeds.includes(school_choice))
        {
          const alert = document.getElementById("schedulingerror2");
          alert.innerHTML = t3;
          alert.removeAttribute("hidden");
          authorized = false;
        }
        {% endif %}
      };
    });
    if (num==0){
      const alert = document.getElementById("schedulingerror2");
      alert.innerHTML = t1;
      alert.removeAttribute("hidden");
      return false;
    } else if (num > max_slot) {
      const alert = document.getElementById("schedulingerror2");
      alert.innerHTML = t2;
      alert.removeAttribute("hidden");
      return false;
    }
    if (!authorized) return false;
    return true;
  }
</script>

{% if config.max_slot==1 %} 
<script>
  const max_slot = 1;
  const t1 = "Vous devez sélectionner un créneau horaire.";
  const t2 = "Vous devez sélectionner au plus un créneau horaire.";
  const t3 = "Au vu de votre établissement d'origine, vous ne pouvez pas sélectionner cet horaire. Vérifiez sur <a class='alert-link' href='/'>la page d'accueil</a> les horaires qui vous sont réservés.";
</script>
{% else %}
<script>
  const max_slot = {{ config.max_slot }};
  const t1 = "Vous devez sélectionner un ou plusieurs créneaux horaires.";
  const t2 = "Vous devez sélectionner au plus " + max_slot + " créneaux horaires.";
  const t3 = "Au vu de votre établissement d'origine, vous ne pouvez pas sélectionner un ou plusieurs de ces horaires. Vérifiez sur <a class='alert-link' href='/'>la page d'accueil</a> les horaires qui vous sont réservés.";
</script>
{% endif %}
{% endblock %}
