{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Acceuil</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/inscription/">Inscription</a>
</li>
{% endblock %}

{% block content %}
<p>Le planning ci-dessous vous indique pour chaque filière ou formation l'affluence à chaque tranche horaire de 30 min. La valeur indique la surface en mètre carré par {% if config.group %}groupe de personnes{% else %}personnes{% endif %}. La couleur indique les niveaux dépassés : <span class="badge bg-{{ config.level.correct[1] }}">&ge; {{ config.level.caution[0] }} m²</span> <span class="badge bg-{{ config.level.caution[1] }}">&lt; {{ config.level.caution[0] }} m²</span> <span class="badge bg-{{ config.level.warning[1] }}">&lt; {{ config.level.warning[0] }} m²</span> <span class="badge bg-{{ config.level.forbidden[1] }}">&lt; {{ config.level.forbidden[0] }} m²</span></p>
{% include "scheduling_view.html" %}
{% endblock %}