{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Acceuil</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/inscription/">Inscription</a>
</li>
{% endblock %}
{% block content %}
{% if config.recaptcha %}
<form id="form" action="/inscription/" method="POST">
{% else %}
<form id="form" action="/inscription/" method="POST" onsubmit="return control()">
  {% endif %}
  {{ csrf_input }}
  <p>Afin de limiter les affluences et garantir la sécurité de tous, nous vous demandons de vous inscrire afin de participer aux portes ouvertes du lycée Aristide Briand. Une seule inscription est demandée par famille.</p>
  <div class="form-floating mb-3">
    <input type="text" name="firstname" class="form-control {% if errors is defined and errors.message_dict['firstname'] is defined %}is-invalid{% endif %}" id="firstname" placeholder="Robert" value="{{ request.POST['firstname']|default() }}" required>
    <label for="firstname">Prénom</label>
    <div id="validationfirstname" class="invalid-feedback">{% if errors is defined and errors.message_dict["firstname"] is defined %} {{ errors.message_dict["firstname"][0] }} {% endif %}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="lastname" class="form-control {% if errors is defined and errors.message_dict['lastname'] is defined %}is-invalid{% endif %}" id="lastname" placeholder="Durand" value="{{ request.POST['lastname']|default() }}" required>
    <label for="lastname">Nom</label>
    <div id="validationlastname" class="invalid-feedback">{% if errors is defined and errors.message_dict["lastname"] is defined %} {{ errors.message_dict["lastname"][0] }} {% endif %}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="email" name="email" class="form-control {% if errors is defined and errors.message_dict['email'] is defined %}is-invalid{% endif %}" id="email" placeholder="robert@exemple.fr" value="{{ request.POST['email']|default() }}" required>
    <label for="email">Addresse email</label>
    <div id="validationemail" class="invalid-feedback">{% if errors is defined and errors.message_dict["email"] is defined %} {{ errors.message_dict["email"][0] }} {% endif %}</div>
  </div>
  {% if config["max_escort"] %}
  <div class="form-floating mb-3">
    <input type="number" name="escort" class="form-control {% if errors is defined and errors.message_dict['escort'] is defined %}is-invalid{% endif %}" id="escort" value="{{ request.POST['escort']|default(0) }}" min="0" max="{{ config['max_escort'] }}" required>
    <label for="escort">Nombre d'accompagnateurs</label>
    <div id="validationescort" class="invalid-feedback">{% if errors is defined and errors.message_dict["escort"] is defined %} {{ errors.message_dict["escort"][0] }} {% endif %}</div>
  </div>
  {% endif %}
  <p>Le planning ci-dessous vous permet pour chaque filière ou formation de choisir le créneau horaire le plus favorable en fontion de vos disponibilités.{% if config.show_density %} La valeur indique la surface en mètre carré par {% if not config.max_escort %}groupe de personnes{% else %}personnes{% endif %}.{% else %} Une surface disponible par {% if not config.max_escort %}groupe de personnes{% else %}personne{% endif %} est calculée.{% endif %} La couleur indique les niveaux atteints : <span class="badge bg-{{ config.level.correct[1] }}">&ge; {{ config.level.caution[0] }} m²</span> <span class="badge bg-{{ config.level.caution[1] }}">&lt; {{ config.level.caution[0] }} m²</span> <span class="badge bg-{{ config.level.warning[1] }}">&lt; {{ config.level.warning[0] }} m²</span> <span class="badge bg-{{ config.level.forbidden[1] }}">&lt; {{ config.level.forbidden[0] }} m²</span> Si ce dernier niveau est atteint dans un créneau, il n'est plus possible de s'y inscrire.</p>
  {% if errors is defined and errors.message_dict["scheduling"] is defined %}
  <div class="alert alert-danger" id="schedulingerror" role="alert">
    {{ errors.message_dict["scheduling"] }}
  </div>
  {% endif %}
  <div class="alert alert-danger" id="schedulingerror2" role="alert" hidden></div>
  {% include "scheduling_booking.html" %}
  {% if config.recaptcha %}
  <button type="submit" data-sitekey="{{ config.recaptcha_key }}" data-callback="onSubmit" data-action="submit" class="btn btn-primary g-recaptcha">Valider</button>
  {% else %}
  <button type="submit" class="btn btn-primary">Valider</button>
  {% endif %}
</form>
{% if config.recaptcha %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  function onSubmit(token) {
    if (control()){
      document.getElementById("form").submit();
    }
  }
</script>
{% endif %}

<script>
  function control() {
    var num = 0;
    const slots = document.querySelectorAll(".control");
    slots.forEach(slot => {if (slot.checked){num+=1}});
    if (num==0){
      const alert = document.getElementById("schedulingerror2");
      alert.innerHTML = "";
      if ({{ config.max_slot }}==1 ){
        var t = document.createTextNode("Vous devez sélectionner un créneau horaire.");
      }
      else {
        var t = document.createTextNode("Vous devez sélectionner un ou plusieurs créneaux horaires.");
      }
      alert.appendChild(t);
      alert.removeAttribute("hidden");
      return false;
    } else if (num > {{ config.max_slot }}) {
      const alert = document.getElementById("schedulingerror2");
      alert.innerHTML = "";
      if ({{ config.max_slot }}==1 ){
        var t = document.createTextNode("Vous devez sélectionner au plus " + {{ config.max_slot }} + " créneau horaire.");
      }
      else {
        var t = document.createTextNode("Vous devez sélectionner au plus " + {{ config.max_slot }} + " créneaux horaires.");
      }
      alert.appendChild(t);
      alert.removeAttribute("hidden");
      return false;
    }
    return true;
  }
</script>
{% endblock %}
