{% extends "scheduling_base.html" %}

{% block col %}
<th scope="row">
  {{ hour["datetime"].strftime("%H:%M") }}
</th>
{% endblock %}

{% block cell %}
  {% if app[place.id][hour.id][1] == "secondary" %}
  <td class="table-{{ app[place.id][hour.id][1] }}">{{ "Plein" if (app[place.id][hour.id][0] < 0) else (app[place.id][hour.id][0]~"/"~place.gauge) }}</td>
  {% else %}
  <td class="table-{{ app[place.id][hour.id][1] }}">{{ "Libre" if (app[place.id][hour.id][0] < 0) else (app[place.id][hour.id][0]~"/"~place.gauge) }}</td>
  {% endif %}
{% endblock %}

{% block colfooter %}
<th scope="row">
  {{ hour["datetime"].strftime("%H:%M") }}
</th>
{% endblock %}