{% for day in days %}
<div class="table-responsive">
  <table id="table{{ loop.index }}" class="table table-bordered" {% if loop.index > 1 %} hidden {% endif %}>
    <thead>
      <tr>
        <th scope="col">
          <!--- <div class="btn-group-vertical">
            <button onclick="previousday({{ loop.index }})" type="button" {% if loop.index == 1 or loop.length == 1 %} disable {% endif %} class="btn btn-secondary">&lt;</button> 
            <span class="input-group-text">{{ day.strftime("%A %d/%m") }}</span>
            <button onclick="nextday({{ loop.index }})" type="button" {% if loop.revindex == 1 or loop.length == 1 %} disable {% endif %} class="btn btn-secondary">&gt;</button> 
          </div> --->
          {{ day.strftime("%A %d/%m") }}
        </th>
        {% for hour in schedules[day] %}
        {% block col scoped %}
        {% endblock %}
        {% endfor %}
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for place in places %}
      <tr>
        <th scope="col">{{place}}</th>
        {% for hour in schedules[day] %}
        {% block cell scoped %}
        {% endblock %}
        {% endfor %}
        <th scope="col">{{place}}</th>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <th scope="col">
        {{ day.strftime("%A %d/%m") }}
      </th>
      {% for hour in schedules[day] %}
      {% block colfooter scoped %}
      {% endblock %}
      {% endfor %}
      <th scope="col"></th>
    </tfoot>
  </table>
</div>
{% endfor %}
<script>
function previousday(num) {
  document.querySelector("#table" + num).setAttribute("hidden", "");
  document.querySelector("#table" + (num-1)).removeAttribute("hidden");
}

function nextday(num) {
  document.querySelector("#table" + num).setAttribute("hidden", "");
  document.querySelector("#table" + (num+1)).removeAttribute("hidden");
}
</script>