{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Acceuil</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/inscription/">Inscription</a>
</li>
{% endblock %}

{% block content %}
<p>Le planning ci-dessous vous indique pour chaque filière ou formation l'affluence à chaque créneau horaire de 30 min.
  {% if config.show_people %} La valeur indique le nombre de {% if not config.max_escort %}groupes familiaux{% else %}personnes{% endif %}{% endif %}.
  La couleur indique la surface disponible par {% if not config.max_escort %}groupe familiaux{% else %}personne{% endif %} : 
{% if config.caution_level %}
<span class="badge bg-success">&ge; {{ config.caution_level }} m²</span>
<span class="badge bg-warning">&lt; {{ config.caution_level }} m²</span>
{% elif config.warning_level %}
<span class="badge bg-success">&ge; {{ config.warning_level }} m²</span>
{% elif config.forbidden_level %}
<span class="badge bg-success">&ge; {{ config.forbidden_level }} m²</span>
{% endif %}
{% if config.warning_level %}
<span class="badge bg-danger">&lt; {{ config.warning_level }} m²</span>
{% endif %}
{% if config.forbidden_level %}
<span class="badge bg-secondary">&lt; {{ config.forbidden_level }} m²</span><br>
Si ce dernier niveau est atteint dans un créneau, il n'est plus possible de s'y inscrire.</p>
{% endif %}

{% include "scheduling_view.html" %}
{% endblock %}