{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="/">Acceuil</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/inscription/">Inscription</a>
</li>
{% endblock %}
{% block content %}
<p>Afin de limiter les affluences et garantir la sécurité de tous, la participation aux portes ouvertes du lycée Aristide Briand se fait uniquement sur inscription. Une seule inscription est demandée par famille.</p>
<form method="POST" id="form">
  {{ csrf_input }}
  <div class="form-floating mb-3">
    <input type="text" name="firstname" class="form-control {% if errors is defined and errors.message_dict['firstname'] is defined %}is-invalid{% endif %}" id="firstname" placeholder="Robert" value="{{ request.POST['firstname']|default() }}" required>
    <label for="firstname">Prénom</label>
    <div id="validationfirstname" class="invalid-feedback">{% if errors is defined and errors.message_dict["firstname"] is defined %} {{ errors.message_dict["firstname"][0] }} {% endif %}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="lastname" class="form-control {% if errors is defined and errors.message_dict['lastname'] is defined %}is-invalid{% endif %}" id="lastname" placeholder="Durand" value="{{ request.POST['lastname']|default() }}" required>
    <label for="lastname">Nom</label>
    <div id="validationlastname" class="invalid-feedback">{% if errors is defined and errors.message_dict["lastname"] is defined %} {{ errors.message_dict["lastname"][0] }} {% endif %}</div>
  </div>
  <div class="form-floating mb-3">
    <select name="school" class="form-control" id="school" value="{{ request.POST['school']|default() }}" required>
      <option selected></option>
      {% for schoolgroup in schools %}
      <optgroup label="{{schoolgroup[0]}}">
        {% for school in schoolgroup[1] %}
        <option value="{{school[0]}}">{{school[1]}}</option>
        {% endfor %}
      </optgroup>
      {% endfor %}
    </select>
    <label for="school">Etablissement d'origine</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" name="email" class="form-control {% if errors is defined and errors.message_dict['email'] is defined %}is-invalid{% endif %}" id="email" placeholder="robert@exemple.fr" value="{{ request.POST['email']|default() }}" required>
    <label for="email">Addresse email</label>
    <div id="validationemail" class="invalid-feedback">{% if errors is defined and errors.message_dict["email"] is defined %} {{ errors.message_dict["email"][0] }} {% endif %}</div>
  </div>
  {% if config.max_escort %}
  <div class="form-floating mb-3">
    <input type="number" name="escort" class="form-control {% if errors is defined and errors.message_dict['escort'] is defined %}is-invalid{% endif %}" id="escort" value="{{ request.POST['escort']|default(0) }}" min="0" max="{{ config['max_escort'] }}" required>
    <label for="escort">Nombre d'accompagnateurs</label>
    <div id="validationescort" class="invalid-feedback">{% if errors is defined and errors.message_dict["escort"] is defined %} {{ errors.message_dict["escort"][0] }} {% endif %}</div>
  </div>
  {% endif %}
  <p>Le planning ci-dessous vous permet pour chaque filière ou formation de choisir le créneau horaire le plus favorable en fontion de vos disponibilités.
    {% if config.show_people %} La valeur indique le nombre de {% if not config.max_escort %}groupes familiaux{% else %}personnes{% endif %}{% endif %}.
    <span>La couleur indique la surface disponible par {% if not config.max_escort %}groupe familiaux{% else %}personne{% endif %} : </span>
    {% if config.caution_level %}
    <span class="badge bg-success">&ge; {{ config.caution_level }} m²</span>
    <span class="badge bg-warning">&lt; {{ config.caution_level }} m²</span>
    {% elif config.warning_level %}
    <span class="badge bg-success">&ge; {{ config.warning_level }} m²</span>
    {% elif config.forbidden_level %}
    <span class="badge bg-success">&ge; {{ config.forbidden_level }} m²</span>
    {% endif %}
    {% if config.warning_level %}
    <span class="badge bg-danger">&lt; {{ config.warning_level }} m²</span>
    {% endif %}
    {% if config.forbidden_level %}
    <span class="badge bg-secondary">&lt; {{ config.forbidden_level }} m²</span><br>
    Si ce dernier niveau est atteint dans un créneau, il n'est plus possible de s'y inscrire.</p>
    {% endif %}
  {% if errors is defined and errors.message_dict["scheduling"] is defined %}
  <div class="alert alert-danger" id="schedulingerror" role="alert">
    {{ errors.message_dict["scheduling"] }}
  </div>
  {% endif %}
  <div class="alert alert-danger" id="schedulingerror2" role="alert" hidden></div>
  {% include "scheduling_booking.html" %}
  {% if config.recaptcha %}
  <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
  <button type="submit" class="btn btn-primary">Valider</button>
  {% else %}
  <button type="submit" class="btn btn-primary">Valider</button>
  {% endif %}
</form>
<script src="https://www.google.com/recaptcha/api.js?render={{ config.recaptcha_public }}"></script>

<script>
  var form = document.getElementById("form");
  form.addEventListener("submit", submit, true);
  function submit(e) {
    e.preventDefault();
    {% if config.recaptcha %}
    grecaptcha.ready(function() {
      grecaptcha.execute("{{ config.recaptcha_public }}", {action: 'submit'}).then(function(token) {
        document.getElementById("g-recaptcha-response").setAttribute("value", token);
        if (control(e)) form.submit();
      });
    });
    {% else %}
    if (control(e)) form.submit();
    {% endif %}
  }
  function control(e) {
    var num = 0;
    const slots = document.querySelectorAll(".control");
    slots.forEach(slot => {if (slot.checked){num+=1}});
    if (num==0){
      const alert = document.getElementById("schedulingerror2");
      alert.innerHTML = "";
      var t = document.createTextNode(t1);
      alert.appendChild(t);
      alert.removeAttribute("hidden");
      return false;
    } else if (num > max_slot) {
      const alert = document.getElementById("schedulingerror2");
      alert.innerHTML = "";
      var t = document.createTextNode(t2);
      alert.appendChild(t);
      alert.removeAttribute("hidden");
      return false;
    }
    return true;
  }

</script>

{% if config.max_slot==1 %} 
<script>
  const max_slot = 1;
  const t1 = "Vous devez sélectionner un créneau horaire.";
  const t2 = "Vous devez sélectionner au plus un créneau horaire.";
</script>
{% else %}
<script>
  const max_slot = {{ config.max_slot }};
  const t1 = "Vous devez sélectionner un ou plusieurs créneaux horaires.";
  const t2 = "Vous devez sélectionner au plus " + max_slot + " créneaux horaires.";
</script>
{% endif %}
{% endblock %}
