{% extends "base.html" %}
{% block header %}
<img src="{{ static('img/abriand.jpg') }}" class="img-fluid" >
{% endblock %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link active" href="/">Acceuil</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/inscription/">Inscription</a>
</li>
{% endblock %}

{% block content %}
<h4 class="display-4">Portes ouvertes au lycée Aristide Briand</h4>
{% endblock %}