{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link active" href="/">Accueil</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/planning/">Planning</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/inscription/">Inscription</a>
</li>
{% endblock %}

{% block header %}
<div class="position-relative">
  <img src="{{ static('img/abriand.jpg') }}" class="img-fluid" >
  <!--- <div class="alert alert-light position-absolute top-50 start-50 translate-middle">
    <a href="#" class="display-4  alert-link ">Portes ouvertes 2021</a>
  </div> --->
</div>
{% endblock %}

{% block content %}
<h1 class="display-1">Portes ouvertes 2021</h1>
<!--- <div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Vendredi 5 février 15h30 - 19h30</h4>
  <hr>
  <p><strong>Accueil réservé aux élèves et aux familles du lycée Aristide Briand</strong><br>
    <strong>Secondes</strong> : découverte des filières et spécialités du lycée<br>
    <strong>Terminales</strong> : découverte des filières postbac du lycée<br>
  </p>
</div> --->
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Samedi 6 février</h4>
  <hr>
  <h5>09h00 - 12h30</h5>
  <p>Accueil réservé aux élèves de troisième <strong>des collèges de secteur</strong> et à leurs familles<br>
    Accueil réservé aux élèves des lycées généraux, techniques et professionnels et à leurs familles
  </p>
  <hr>
  <h5>13h00 - 16h30</h5>
  <p>Accueil réservé aux élèves de troisième <strong>des collèges du bassin</strong> et à leurs familles<br>
    Accueil réservé aux élèves des lycées généraux, technologiques et professionnels et à leurs familles<br>
    Accueil réservé aux autres publics
  </p>
</div>
<p class="alert alert-danger" role="alert">En raison des conditions sanitaires, une <a class="alert-link" href="/inscription/">inscription en cliquant ici</a> est obligatoire pour y participer. </p>

{% endblock %}